{% extends "base.html" %}

{% block title %}
Assign Staff
{% endblock %}

{% block content %}

<h1>Assign Staff</h1>

<h4>{{ trek.name }}</h4>

<form method="POST">

    {% for staff in staff_members %}

    <div class="form-check mb-2">

        <input
            class="form-check-input"
            type="checkbox"
            name="staff_ids"
            value="{{ staff.id }}"

            {% if staff in trek.assigned_staff %}
                checked
            {% endif %}
        >

        <label class="form-check-label">

            {{ staff.name }}

        </label>

    </div>

    {% endfor %}

    <button class="btn btn-success mt-3">

        Save Assignments

    </button>

</form>

{% endblock %}