<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treks</title>
</head>
<body>
    
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p>{{ category }}: {{ message }}</p>
    {% endfor %}
{% endwith %}


    <h2>Trek Page for Admin</h2>

    <a href="{{ url_for('admin.create_trek') }}">
        Create New Trek
    </a>

    <hr>

    {% if treks %}

        <ul>

        {% for trek in treks %}

            <li>

                <strong>{{ trek.name }}</strong>

                <br>
                Location: {{ trek.location }}

                <br>
                Difficulty: {{ trek.difficulty }}

                <br>
                Slots: {{ trek.available_slots }}/{{ trek.total_slots }}

                <br>
                Duration: {{ trek.duration_days }} days

                <br>
                Status: {{ trek.status}} 

                <br>
                Dates:
                {{ trek.start_date }}
                to
                {{ trek.end_date }}

                <br><br>

                <strong>Assigned Staff:</strong>

                {% if trek.assigned_staff %}

                    <ul>

                    {% for staff in trek.assigned_staff %}

                        <li>
                            {{ staff.name }}
                            ({{ staff.email }})
                        </li>

                    {% endfor %}

                    </ul>

                {% else %}

                    <p>No staff assigned.</p>

                {% endif %}

                <a href="{{ url_for('admin.assign_staff_to_trek',
                                    trek_id=trek.id) }}">
                    Assign Staff
                </a>

                |

                <a href="{{ url_for('admin.edit_trek',
                                    trek_id=trek.id) }}">
                    Edit
                </a>

                |
                <a href="{{ url_for('admin.trek_participants',trek_id=trek.id) }}">
                    Participants
                </a>

                <form
                    action="{{ url_for('admin.delete_trek',
                                        trek_id=trek.id) }}"
                    method="POST"
                    style="display:inline;"
                >

                    <button type="submit">
                        Delete
                    </button>

                </form>

            </li>

            <hr>

        {% endfor %}

        </ul>

    {% else %}

        <p>No treks found.</p>

    {% endif %}

</body>
</html>