{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="{{ url_for('main.home') }}">
            <i class="bi bi-map"></i> Trek-Connect
        </a>
        
        <!-- Top right corner profile button -->
        <div class="dropdown">
            <a href="#" class="text-black text-decoration-none dropdown-toggle" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i>
                {{ current_user.name }}
            </a>

            <ul class="dropdown-menu dropdown-menu-end">

                <li>
                    <span class="dropdown-item-text text-muted">
                        {{ current_user.role }}
                    </span>
                </li>

                <li><hr class="dropdown-divider"></li>
                
                <li>
                    {% if current_user.role == "ADMIN" %}
                        {% set profile_url = url_for("admin.profile") %}
                    {% elif current_user.role == "STAFF" %}
                        {% set profile_url = url_for("staff.profile") %}
                    {% else %}
                        {% set profile_url = url_for("user.profile") %}
                    {% endif %}

                    <a class="dropdown-item" href="{{ profile_url }}">
                        <i class="bi bi-person"></i>
                        Edit Profile
                    </a>                    
                </li>
                
                <li>
                    <a class="dropdown-item"
                       href="{{ url_for('auth.logout') }}">
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}

<div class="container-fluid">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-2 col-lg-2 bg-white border-end min-vh-100 p-0">

            {% block sidebar %}
            {% endblock %}

        </div>

        <!-- Main Content -->
        <div class="col-md-10 col-lg-10 p-4">

            {% block dashboard_content %}
            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="border-top bg-white py-2">
    <div class="container-fluid text-center text-muted small">
        &copy; 2026 Trek-Connect
    </div>
</footer>
{% endblock %}